*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    width: 100vw;
    height: 100vh;
    /* background-color: rgba(0, 0, 0, 0.959);  */
    background: rgb(97,97,97);
    background: linear-gradient(142deg, rgba(97,97,97,1) 0%, rgba(51,51,51,1) 5%, rgba(22,22,22,1) 9%, rgba(10,10,10,1) 15%, rgba(10,10,10,1) 83%, rgba(103,0,0,1) 100%);
    color: white;
    display: flex;
    flex-direction: column;
    font-family: 'Karla', 'sans-serif';
    
}
header{
    /* display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0vh 0vw; */
}
header nav{
    display: flex;
    justify-content: space-between;
    user-select: none;
}
.logo{
    text-decoration: none;
    user-select: none;
}
.links ul{
    list-style-type: none;
}

/* @media (max-width: 1024px){
    .links ul{
        list-style-type: none;
        gap: 10%;
    }
} */

/* .links a {
    text-decoration: none;
    color: white;
    user-select: none;
    transition: all .5s;
    margin-top: 2vh;
} */
/* .menu{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
} */
.central{
    display: flex;
    flex-direction: row;
    position: relative;
    margin-left: 4vw;
    /* right: 100px; */
    gap: 100px;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    margin-left: 5vh;
    margin-top: 1vh;
}
.central a{
    text-decoration: none;
    color: white;
    user-select: none;
}
.cliente{
    display: flex;
    flex-direction: row;
    position: relative;
    margin-right: 5vw;
    /* left: 100px; */
    align-items: center;
    gap: 50px;
    
}
.cliente .cadastrar{
    display: flex;
    width: 90px;
    height: 40px;
    align-items: center;
    justify-content: center;
    background-color: rgb(56, 196, 133);
    border-radius: 10px;
    filter: drop-shadow(0px 5px 15px rgba(56, 196, 133, 0.801));
}
.cliente a{
    text-decoration: none;
    color: white;
    user-select: none;
    margin-top: 1vh;
}
.logoFigos{
    width: 5vw;
    height: 5vh;
}

main{
    padding: 7vh 7vh;
    display: flex;
}

.pedidosCliente{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
}

.verCardapio{
    text-decoration: underline gold;
    color: gold;

}

main img{
    width: 34.35vw;
    height: 66.72vh;
    margin-right: 50px;
}

main p{
    color: rgb(199, 196, 196);
}

main h1{
    font-size: 70px;
    max-width: 70%;
}

.qualquerHora{
    color: red;
}

.pedirAgora{
    display: flex;
    text-decoration: none;
    color: white;
    background-color: rgb(226, 41, 63);
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    width: 120px;
    height: 40px;
    filter: drop-shadow(0px 5px 15px rgba(226, 41, 62, 0.801));
}

footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.prato1{
    display: flex;
    flex-direction: column;
    background-color: rgb(57, 57, 57);
    width: 250px;
    height: 90px;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(46,46,46,1) 85%);
    /* background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(65,65,65,1) 47%, rgba(181,181,187,1) 100%, rgba(255,255,255,1) 100%, rgba(0,212,255,1) 100%); */
    
}
.massaEspecial{
    display: flex;
    width: 70px;
    height: 70px;
    position: relative;
    justify-content: flex-start;
    z-index: 1;
    left: 50px;
    bottom: 25px;
}
.prato2{
    display: flex;
    flex-direction: column;
    background-color: rgb(57, 57, 57);
    width: 250px;
    height: 90px;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(46,46,46,1) 85%);
}
.saladaEspecial{
    display: flex;
    width: 85px;
    height: 85px;
    position: relative;
    justify-content: flex-start;
    z-index: 1;
    left: 60px;
    bottom: 25px;
}

.massaTradicional{
    display: flex;
    width: 70px;
    height: 70px;
    position: relative;
    justify-content: flex-start;
    z-index: 1;
    left: 50px;
    bottom: 25px;
}
.prato3{
    display: flex;
    flex-direction: column;
    background-color: rgb(57, 57, 57);
    width: 250px;
    height: 90px;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(46,46,46,1) 85%);
}
.nomePrato{
    font-size: 15px;
}
.precoPrato{
    color: rgb(226, 41, 63);
    font-size: 12px;
    justify-content: space-between;
}
.pedir{
    color: rgb(190, 190, 190);
    text-decoration: underline rgb(190, 190, 190);
}

/* .precoAvaliacao{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 15px;
    margin-top: 5px;
} */
